.tag{
  font: 700 10px var(--ff-base);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


.button-sm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 40px;
  border-radius: 8px;
  text-decoration: none;
    font: var(--button);
  color: var(--text-title);
  background-color: var(--pink-dark);
  padding: 20px;
  gap: 8px;

}


.button-lg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 40px;
  border-radius: 8px;
  text-decoration: none;
    font: var(--button);
  color: var(--text-title);
  background-color: var(--pink-dark);
  padding: 20px;
  gap: 8px;

}



.button-lg-blue{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 40px;
  border-radius: 8px;
  text-decoration: none;
    font: var(--button);
  color: var(--text-title);
  background-color: var(--blue-dark);
  padding: 20px;
  gap: 8px;

}
.subtitle{
  font: var(--subtitle);
  color: var(--text-body);
}

.title-sm{
  font: var(--title-sm);
  color: var(--text-title);
}

.body-md{
  font: var(--body-md);
  color: var(--text-body);
}

.test-div{
  margin-top: 2500px;
}